<div id="welcome" class="container w-75 mt-5 mb-4 pt-5">

  <h1 class="text-danger">Welcome to QuizApp, <span class="username">test</span>!
  </h1>
  <hr class="border-top border-3 border-danger my-2">
  <br/>
  <br/>
  <p class="lead"><%= t('welcome.instructions.subtitle') %></>

  <ul class="list">
    <li class="mb-2"><%= t('welcome.instructions.list.answer_questions') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.submit_answers') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.start_quiz') %></li>
  </ul>

  <div class="text-center mt-4">
    <a class="btn btn-danger btn-md mx-auto px-5 mt-4" href="/en/steps/1">Start Quiz</a>
  </div>
 
  
</div>

